.Cardscontainer {
    display: flex;
    /* display: flex; */
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
     margin-bottom: 15px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    width: 200px; 
    text-align: center; 
}

.Borncard img {
    width: 200px;
    height: 200px; /* Ensure the image is square */
    /* object-fit: cover; */
    object-fit: fill;
    /* object-fit: contain; Make sure the image fits well within the container */
    border-radius: 50%; /* Make the image circular */
    margin-bottom: 10px; /* Add some space between the image and text */
}

.Borncard h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.Borncard p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}
